[submodule "jojo_es"]
	path = submodule/JOJO-Elasticsearch
	url = git@github.com:hcmdgh/JOJO-Elasticsearch.git
[submodule "jojo_janusgraph"]
	path = submodule/JOJO-JanusGraph
	url = git@github.com:hcmdgh/JOJO-JanusGraph.git
[submodule "jojo_mysql"]
	path = submodule/JOJO-MySQL
	url = git@github.com:hcmdgh/JOJO-MySQL.git
[submodule "JOJO-MongoDB"]
	path = submodule/JOJO-MongoDB
	url = git@github.com:hcmdgh/JOJO-MongoDB.git
[submodule "submodule/JOJO-Translation"]
	path = submodule/JOJO-Translation
	url = git@github.com:hcmdgh/JOJO-Translation.git
